/**
 * @file
 *  CSS to theme translation links next to node teaser titles.
 */

ul.t9nlinks {
  display: inline;
  margin: 0 0 0 .4em;
  padding: 0;
  font-size: 65%;
  font-weight: bold;
}
  ul.t9nlinks li {
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-image: none;
  }
    .t9nlinks li a {
      padding: 1px 2px;
      white-space: nowrap;
      color: white;
      border-width: 1px;
      border-style: solid;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
    }
    .t9nlinks li.color-1 a { background-color: blue; border-color: blue; }
    .t9nlinks li.color-2 a { background-color: red; border-color: red; }
    .t9nlinks li.color-3 a { background-color: green; border-color: green; }
    .t9nlinks li.color-4 a { background-color: black; border-color: black; }

    .t9nlinks li a:hover { background-color: #eee; }
    .t9nlinks li.color-1 a:hover { color: blue; }
    .t9nlinks li.color-2 a:hover { color: red; }
    .t9nlinks li.color-3 a:hover { color: green; }
    .t9nlinks li.color-4 a:hover { color: black; }
